@import '../../../../../../Styles/common.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(153, 153, 153, 0.6);

  button {
    outline: none;
    cursor: pointer;
    border: 0;
  }

  section {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    background-color: $white;
    animation: modal-show 0.3s;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    header {
      position: relative;
      padding: 1rem 5rem 1rem 1rem;
      font-weight: 700;

      button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: $subTitleColor;
        background-color: transparent;
      }
    }

    main {
      padding: 1rem;
    }
  }
}
.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -2vh;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
