ul {
  li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    font-size: 00.7rem;

    span {
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.fontSize07 li {
  font-size: 0.7rem;
}

.fontSize08 li {
  font-size: 0.8rem;
}
