@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.bestProduct {
  margin: 0 auto;
  text-align: center;

  h1 {
    margin: 5rem 0 2rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    color: #39393a;
    letter-spacing: 2px;
  }
}
