@import '../../Styles/common.scss';
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.infomationWrap {
  @extend %flexCenter;
  padding-top: 15rem;

  main {
    @extend %flexCenter;
    flex-direction: column;

    header {
      font-family: 'NEXON Lv1 Gothic OTF Light';
      font-size: 2.5rem;
      margin: 2% 0;
    }
  }
}
