#Cart {
  display: flex;
  justify-content: center;
  padding-top: 120px;

  > div {
    width: 86vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;

    h1 {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
    }

    table {
      // border: 1px solid blue;

      th {
        // display: inlie;
        // flex-direction: inherit;
        // justify-items: center;
        border: 1px solid green;

        &:first-child {
          width: 5%;
        }
      }
      tr {
        td {
          img {
            width: 5vw;
          }
        }
      }
    }
  }
}
