@import '../../Styles/common.scss';
%tableButon {
  cursor: pointer;
  background-color: white;
  border: 1px solid #d4d8d9;
  border-radius: 4px;
}
#Cart {
  display: flex;
  justify-content: center;
  padding-top: 150px;

  > div {
    width: 86vw;
    // border: 1px solid red;

    h1 {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .tableWrap {
      header {
        span {
          border: none;
        }
      }
      .cartTable {
        width: 86vw;
        font-size: 0.8rem;
        text-align: center;
        tr {
          height: 10px;

          .tableCheckBoxWidth {
            width: 4vw;
          }
          .resultPriceWidth {
            width: 12vw;
          }
        }
        th {
          border-left: 1px solid #e9e9e9;
          border-bottom: 1px solid #e9e9e9;

          &:first-child {
            border-left: 1px solid #ccc;
          }

          &:last-child {
            border-right: 1px solid #ccc;
          }
          // display: inlie;
          // flex-direction: inherit;
          // justify-items: center;
          // border: 1px solid green;
        }

        tbody {
          .tbodyCheckBoxLine {
            text-align: center;
            width: 20px;
            padding: 4px;
          }

          .tbodyImgLine {
            width: 90px;
            vertical-align: middle;

            img {
              width: 75px;
              height: 75px;
            }
          }
          .tbodyProductLine,
          tfoot {
            text-align: left;

            .bundleName,
            .priceGap {
              color: $subTitleColor;
              font-size: 0.8rem;
            }

            .bundleName {
              margin-top: 10px;
            }
          }

          .disCountOn {
            div:first-child {
              color: gray;
              text-decoration: line-through;
            }
            div:last-child {
              margin-top: 5px;
            }
          }

          .tbodyUpDownLine {
            > span {
              position: relative;
              width: 55px;
              input {
                width: 25px;
                height: 23px;
                padding-left: 5px;
                line-height: 23px;
                border: 1px solid #d4d8d9;
                border-radius: 3px 0 0 3px;
                font-size: 0.75rem;
              }
              > button {
                position: absolute;
                cursor: pointer;
                border: none;
                background-color: white;
                font-size: 0.6rem;
              }
              // up 버튼
              button:first-of-type {
                top: 0;
                left: 25px;
              }
              //down 버튼
              button:last-child {
                top: 12px;
                left: 25px;
              }
            }
          }

          .tbodyChiceLine {
            padding: 0 5px;
            border-right: 1px solid #ccc;

            button {
              width: 50px;
              @extend %tableButon;
              font-size: 0.8rem;
              padding: 3px 5px;
            }
          }

          td {
            border-bottom: 1px solid #e9e9e9;
          }

          .totalPrice {
            text-align: right;
            padding-top: 0px;

            span {
              color: $blue;
              font-size: 1.5rem;
              margin-left: 10px;
            }
          }
        }
        tfoot {
          border-bottom: 1px solid #ccc;

          tr {
            td {
              &:first-child {
                text-align: left;
              }
              &:last-child {
                text-align: right;
              }
            }

            .result {
              span {
                margin-left: 15px;
                color: $blue;
                font-size: 1.2rem;
              }
            }
          }
        }
        thead,
        tfoot {
          background: #f6f6f6;
        }
      }
    }
    hr {
      width: 86vw;
      margin-top: 50px;
      border-bottom: 1px solid #e8e5e4;
    }
    .cartControllButtonBox {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      > div:first-child {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          font-size: 0.8rem;
          font-weight: bold;
        }
        > div {
          > div {
            padding: 1.5vh 1.5vw;
            margin-left: 10px;
            background-color: #8c8c8c;
          }
        }
      }

      .clearCart {
        padding: 1.5vh 1.5vw;
        background-color: $white;
        cursor: pointer;
        color: $black;
      }
    }

    .cartButtonPosition {
      display: flex;
      justify-content: center;
      margin: 50px 0;

      > div {
        margin: 0 3px;

        > button {
          &:hover {
            background-color: #ccc;
            color: $white;
            cursor: pointer;
          }
        }
      }
      .checkOrderButton {
        background-color: #eee;
        color: $black;
      }
      .countineShoppingButton {
        background-color: $white;
        color: $black;
      }
    }
  }
}
