.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;

    .carousel-content-wrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;

      .carousel-content {
        display: flex;
        transition: all 250ms linear;
        -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
        scrollbar-width: none; /* hide scrollbar in Firefox */

        > * {
          color: white;
          font-weight: bold;
          width: 100%;
          flex-shrink: 0;
          flex-grow: 1;
        }
      }
      /* hide scrollbar in webkit browser */
      .carousel-content::-webkit-scrollbar,
      .carousel-content::-webkit-scrollbar {
        display: none;
      }
    }

    .left-arrow,
    .right-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 24px;
      background-color: transparent;
      border: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    .left-arrow {
      left: 24px;
    }

    .right-arrow {
      right: 24px;
    }
  }
}
