@import '../../../Styles/common.scss';

%hover {
  &:hover {
    color: $yellow;
    cursor: pointer;
  }
}

#root {
  #nav {
    > nav {
      .navLeftMenu {
        width: 40vw;

        > ul {
          display: flex;
          > li {
            margin-left: 1.1vw;
            font-weight: bold;
            @extend %hover;
          }
        }
      }
      .navRightMenu {
        font-size: 0.8em;
        width: 40vw;
        // border: 1px solid red;
        > ul {
          @extend %flexCenter;
          justify-content: flex-end;
          > li {
            margin-right: 1.8vw;
            font-weight: bold;
            @extend %hover;
            button {
              background-color: transparent;
              border: 0px;
              @extend %hover;
            }
          }
        }
      }
    }
  }
}
