@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import '../../Styles/common.scss';

.topButton {
  button {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 25px;
    bottom: 60px;
    background-color: transparent;
    border: 1px solid $subTitleColor;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      color: $subTitleColor;
    }
  }
}
