@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import '../../../../Styles/common.scss';

.productList {
  ul {
    @extend %flexCenter;
    flex-wrap: wrap;
  }

  .product {
    display: block;
    padding: 1rem;

    a {
      .imageWrap {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;

        img {
          width: 300px;
          height: 300px;
          &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transition: all 0.2s;
          }
        }
      }
    }

    .contentWrap {
      padding: 0.5rem 0 0.5rem 0;

      .productName,
      p {
        font-size: 0.8rem;
        font-weight: bold;
      }

      .productName {
        color: $titleColor;
      }

      .bestProductPrice {
        padding: 1rem 0 1rem 0;
        color: #008bcc;
      }

      .productPrice {
        padding: 1rem 0 1rem 0;
        color: $black;
      }
    }
  }
}
