@import '../../Styles/common.scss';

.productDetail {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;

  .productImgWrap {
    display: flex;
    width: 60%;

    .mainImg {
      width: 570px;
      height: 570px;
    }
  }
}
