@import '../../../../Styles/common.scss';

.totalPrice {
  padding-top: 3rem;

  .tableWrap {
    @extend %flexCenter;
  }

  th,
  td {
    padding: 1.5rem;
    vertical-align: middle;
    text-align: center;
  }

  thead {
    th {
      padding: 1rem 1.5rem;
      background-color: $background;
    }
  }

  th {
    font-size: 0.85rem;
  }

  td {
    font-size: 1.3rem;
  }

  .blue {
    color: $blue;
    font-weight: bold;
  }
}
