@import '../../Styles/common.scss';
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.paging {
  @extend %flexCenter;

  .pagingBtn {
    @extend %flexCenter;
    width: 30px;
    height: 30px;
    color: $titleColor;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      color: $yellow;
    }
  }

  .prevBtn,
  .nextBtn {
    transition: 0.3s;

    &:hover {
      color: $yellow;
    }
  }
}
