@import '../../Styles/common.scss';
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.paging {
  @extend %flexCenter;

  button {
    @extend %hover;
    background: none;
    border: none;
    margin: 0.2rem;
    transition: 0.3s;
  }

  .pagingBtn {
    @extend %flexCenter;
    color: $titleColor;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .currentBtn {
    color: $yellow;
  }
}
