@import '../../Styles/common.scss';
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160vh;

  header {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2vh;
  }
  .containers {
    width: 80vw;
    margin: 0 auto;
    .process {
      @extend %flexCenter;
      height: 10vh;
      margin: 1% auto;
      text-align: center;
      span:nth-child(1) {
        font-size: 1rem;
        font-weight: 600;
      }
      span:nth-child(2),
      span:nth-child(3) {
        color: $hoverColor;
        font-size: 0.9rem;
        text-indent: 1vw;
      }
    }
    .container {
      display: flex;
      align-items: center;
      height: 8vw;
      border-bottom: 1px solid $hoverColor;
      .nameContainer {
        @extend %flexCenter;
        width: 20%;
        height: 100%;

        span:nth-child(2) {
          color: red;
        }
      }

      .caution {
        // border: 3px solid purple;
        display: flex;
        flex-direction: column;
        transform: translateY(30%);
        width: 20%;
        height: 100%;

        input {
          height: 40%;
          border: 1px solid $hoverColor;
          text-indent: 5%;
          &:focus {
            border: 0.5px solid $yellow;
          }
          &::placeholder {
            font-size: 0.7rem;
          }
        }

        #validPass {
          margin-top: 0.5rem;
          color: rgb(28, 131, 0);
          font-size: 0.7rem;
          font-weight: 450;
          text-indent: 1%;
        }

        #validFail {
          margin-top: 0.5rem;
          color: rgb(254, 42, 42);
          font-size: 0.7rem;
          font-weight: 450;
          text-indent: 1%;
        }
      }
      .checkId {
        width: 10%;
        height: 35%;
        margin: 0 1%;
        border: none;
        font-size: 0.8rem;
        background-color: $black;
        color: $white;
        cursor: pointer;
      }

      .required {
        margin: 0 1%;
        font-size: 0.8rem;
      }
    }

    .signupBtn {
      @extend %flexCenter;
      width: 20%;
      height: 10vh;
      margin: 2rem auto;
      border: none;
      font-size: 1rem;
      background-color: $black;
      color: $white;
      cursor: pointer;

      &:disabled {
        background-color: $hoverColor;
      }
    }
  }
}
