@import '../../../../Styles/common.scss';
.orderHeader {
  padding-top: 10rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.orderInfo {
  @extend %flexCenter;
  padding-top: 3rem;

  .orderHeader {
    display: block;
  }

  th,
  td {
    text-align: center;
  }
  th,
  tr:last-child {
    background-color: $background;
  }
  .totalPrice {
    text-align: right;
    span {
      &:first-child {
        margin: 1rem;
      }
      &:last-child {
        font-size: 1.2rem;
        color: $blue;
      }
    }
  }
  .orderProductName {
    text-align: left;
  }
  .orderProductThum {
    width: 80px;
  }
  .bold {
    font-weight: bold;
  }
}
