@import '../../../../Styles/common.scss';

.modalRow {
  button {
    margin-left: 5px;
    border: 1px solid $hoverColor;
    border-radius: 5px;
    outline: none;
    color: $white;
    background-color: $yellow;
    font-size: 0.85rem;

    span {
      display: inline-block;
    }
  }

  .address {
    margin: 10px 0;
  }
}
