@import '../../../../Styles/common.scss';

.shippingLocation {
  @extend %flexCenter;
  padding-top: 3rem;

  th,
  td {
    &:first-child {
      background-color: $background;
    }
  }

  th {
    &:first-child {
      width: 15%;
    }
  }

  input {
    font-size: 0.85rem;
    border-radius: 0%;
    border: 1px solid $hoverColor;
  }

  input.addressInput {
    width: 50%;
  }
}
