@import '../../Styles/common.scss';
@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  position: relative;

  #nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: black;
    z-index: 9;

    > div {
      width: 100%;
    }
    // 클래스이름을 null로 할 수 없어서 임의로 추가
    &.scrollTopON {
    }

    &.scrollTopOff {
      box-shadow: 0px 0px 5px gray;
      background-color: rgba(255, 255, 255, 0.8);
      transition: box-shadow 0.25s ease-in-out,
        background-color 0.25s ease-in-out, padding 0.25s ease-in-out;
    }
    > nav {
      @extend %flexCenter;
      justify-content: space-around;
      width: 86vw;
      padding: 10px;

      > h1 {
        width: 14vw;
        padding: 20px 0 20px 0;
        color: $border;
        font-family: 'NEXON Lv1 Gothic OTF Light';
        font-size: 2em;
      }
    }

    .searchBox {
      display: flex;
      // align-items: flex-end;
      // justify-content: end;
      flex-direction: column;
      position: relative;

      i {
        &:hover {
          @extend %hover;
        }
      }

      input {
        display: none;
        position: absolute;
        bottom: -36px;
        right: -3px;
        width: 18vw;
        border: 1px solid $border;
        padding: 2px 10px;
        border-radius: 10px;

        &::placeholder {
          color: $blue;
          // padding-left: 8px;
          opacity: 0.7;
          font-size: 0.8rem;
        }
      }
      .searchInputShow {
        display: inline-block;
      }
      .searchInputNone {
        display: none;
      }
    }
  }
}

@media all and (min-width: 769px) and #{$tablet} {
  #root {
    #nav {
      nav {
        > h1 {
          display: flex;
          align-items: center;
          width: 10vw;
          // font-size: 2.2em;
          font-family: 'NEXON Lv1 Gothic OTF Light';
        }
      }
    }
  }
}

@media all and #{$phone} {
  #root {
    #nav {
      nav {
        > h1 {
          display: flex;
          align-items: center;
          width: 10vw;
          font-size: 1.5em;
          font-family: 'NEXON Lv1 Gothic OTF Light';
        }

        .navLeftMenu {
          width: 43vw;

          > ul {
            > li {
              display: flex;
              justify-content: center;
              align-items: center;
              // @extend %flexCenter; (미디어쿼리 안에서 사용불가 )
              // mixin은 다르게 선언해줘야 하므로 생략함

              min-width: 10vw;
              margin-left: 1vw;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 550px) {
  #root {
    #nav {
      nav {
        flex-wrap: wrap;
        ul {
          li {
            min-width: 11vw;
          }
        }
      }
    }
  }
}
