@import '../../Styles/common.scss';

#Popup {
  width: 200vw;
  overflow: hidden;

  .items {
    position: relative;
    margin: auto;
    overflow: visible;
    width: 100%;

    .slider_item {
      display: block;
      position: relative;
      // background-image: linear-gradient(to right, whitesmoke, transparent 100%);
      margin-top: -270px;
      height: 150px;
      width: 8%;
      content: '';

      .active {
        background: rgba(255, 255, 255, 0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
      }

      span {
        display: block;
        border: 1px solid green;
        padding: 2vh 1vw;
      }
      .slider_item:nth-child(odd) {
        background-color: greenyellow;
        transform: scaleX(1.31) rotateY(40deg);
      }
      .slider_item:nth-child(even) {
        background-color: skyblue;
        transform: scaleX(1.31) rotateY(-40deg);
      }
    }
  }
}
