@import '../../Styles/common.scss';

#Popup {
  min-height: 100vh;

  .items {
    width: 100%;
    height: 200px;
    padding: 100px;
    border: 1px solid red;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    font-size: 0;
    perspective: 500px;

    .slider_item {
      // width: 100%;
      // height: 200px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // position: absolute;
      // top: 0;
      // z-index: 0;
      width: 200px;
      border: 1px solid black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.15);

      .active {
        background: rgba(255, 255, 255, 0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
      }

      .slider_item:nth-child(odd) {
        background-color: greenyellow;
        transform: scaleX(1.31) rotateY(40deg);
      }
      .slider_item:nth-child(even) {
        background-color: skyblue;
        transform: scaleX(1.31) rotateY(-40deg);
      }

      span {
        border: 1px solid green;
        padding: 2vh 1vw;
      }
    }
  }
}
